<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Categories</title>
    <link rel="stylesheet" href="../style/app.css" />
  </head>
  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <h1>Choose Category</h1>
        <a class="btn" href="GeneralKnowledge/generalDifficulty.html">General knowledge</a>
        <a class="btn" href="Geoghraphy/geographyDifficulty.html">Geography</a>
        <a class="btn" href="Movies/moviesDifficulty.html">Movies</a>
        <a class="btn" href="Music/musicDifficulty.html">Music</a>
        <a class="btn" href="VideoGames/videoGamesDifficulty.html">Video Games</a>
        <a class="btn" href="Comics/comicsDifficulty.html">Comics</a>
        <a class="btn" href="AnimeManga/animeMangaDifficulty.html">Anime & Manga</a>
        <a class="btn" href="ComputerScience/CSDifficulty.html">Computer Science</a>
        <a class="btn" href="Gadgets/gadgetsDifficulty.html">Gadgets</a>
        <a class="btnAlt" href="../index.html">Go Back</a>
      </div>
    </div>
  </body>
</html>